body{
    background-color:white;
}

.errorlist{
    color:red;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: white !important;
}

.navbar-dark .navbar-brand {
    color: white !important;
}
